.recent-post__img {
    max-width: 9vw;
}

.recent-post__subtitle {
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #143774;
    margin: 1em 0;
    max-width: 8.5vw;
    cursor: pointer;
}

.recent-post__link {
    text-decoration: none;
}