



.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.header__title--container {
    margin-bottom: 2em;
}

.header__title {
    color: #143774;
    font-family: 'Lora', serif;
    font-size: 2em;
}
.header__subtitle {
    color: #1792D2;
    font-weight: 700;
    font-size: .75em;
    letter-spacing: 2.4px;
    text-transform: uppercase;

}

.header__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__list-item {
    list-style: none;
    margin: 1em 0;
}

.header__anchor {
    color: #717171;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding-bottom: 5px;

}

.header__anchor:hover {
    color: #1792D2;
}

.header__anchor:focus {
    border-bottom: 2px solid #717171;
}