
.nav {
    width: 100%;
    background-color: #F8F8F8;
    margin-bottom: 4em;
  }


.header__container {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}



.header__title {
    color: #143774;
    font-family: 'Lora', serif;
    font-size: 2em;
}
.header__subtitle {
    color: #1792D2;
    font-weight: 700;
    font-size: .75em;
    letter-spacing: 2.4px;
    text-transform: uppercase;

}

.header__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.header__list-item {
    list-style: none;
    margin: 1em 0;
}

.header__link {
    color: #717171;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    padding-bottom: 5px;

}

.header__link:hover {
    color: #1792D2;
}

.header__link:focus {
    border-bottom: 2px solid #717171;
}

@media (min-width: 1250px){
    .header__container {
        height: 20vh;
        flex-direction: row;
        justify-content: space-between;

    }

    .header__ul {
        flex-direction: row;
        margin: 0;
        gap: 2em;
        align-items: center;
    }
}

@media (max-width: 1249px) {
    .header__title--container {
        margin-bottom: 2em;
    }
    
}