.about-me__container {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border: 1.5em solid #EBEBEB;
    max-width: 15vw;
    margin-bottom: 3em;
}

.about-me__title {
    color: #143774;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.about-me__text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: .9em;
    color: #143774;
    margin: 2em 0 .75em 0;
    max-width: 8.5vw;
    cursor: pointer;
}

.about-me__link {
    text-decoration: none;
}

.about-me__img {
    height: 12vh;
    object-fit: cover;
}

@media (max-width: 1249px){
    .about-me__container {
        max-width: 100vw;
        
        
    }
    .about-me__text {
        max-width: 100vw;
        font-size: .75em;
    }

}