.recent-page__container {
    max-width: 70%;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@media (max-width: 1249px) {
    .recent-page__container {
        flex-direction: column;
        max-width: 90%;
    }
}