
.recent-posts__container {
  display: flex;
  flex-direction: column;
  border: 1.5em solid #EBEBEB;
  padding: 1.5em;
  max-width: 15vw;
  
  
}

.recent-posts__title {
  color: #143774;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* 
.recent-posts__pseudo {
  content: '';
  border-bottom: 1px solid #707070;
  opacity: 50%;
  width: 8.5vw;
  position: absolute;
  margin: 1em 0 0 0;
} */


@media (max-width: 1249px){
  .recent-posts__container{
      max-width: 90vw;
      width: 90vw;
      margin-bottom: 4em;
  }
  .recent-posts__title {
    margin-bottom: 2em;
  }
  
}